<h3>Show the devise user posts</h3>
<% @user_posts.each do |post|%>
  <h4><%= post.title%></h4>
  <p>Slated to take place on the <%=post.starting%></p>
  <br>
<%end%>
<%=link_to "Create an event", new_event_path%>