<h2><%= @event.title.upcase%> Event</h2>
<br>
<p><strong><i>Starts on the: <%=@event.starting%></i></strong></p>
<p><strong>Description: </strong><%=@event.description%></p>

<br>
<br>
<%= link_to "return Home", root_path%>